
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MinView</title>
</head>
<body>
    <div> 
        This is the min view.
    </div>
</body>
</html>
